<object width="200" height="200" data="helloworld.swf" align="center">

<h1 class="modal-title">Velkommen til Galgeleg!!!</h1>

<br>
<div class="row">
  <div class="col-xs-12">

    <img class="img-responsive" src="{{imagePath}}"
         style="max-height: 300px"


    >
  </div>


  <h3>Bruger Login</h3>
  <div class="form-group">
    <input id="name"
           name="name"
           type="text"
           placeholder="brugernavn"
           required
           class="form-control input-md"
           appAutodir
           autocomplete="off"
           [(ngModel)]="loginName"
           [style.width.px]=120
    >

    <input id="password"
           name="password"
           type="password"
           placeholder="kodeord"
           required
           class="form-control input-md"
           [(ngModel)]="loginPassword"
           (keydown.enter)="onLogin()"
           [style.width.px]=120
    >

    <button id="singlebutton"
            name="singlebutton"
            class="btn btn-primary"
            (click)="onLogin()">Log ind
    </button>
  </div>
</div>


<br>
{{welcomeMess}}

</object>



